#search {
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    outline: none;
    min-height: 2.4em;
}

.custom-btn-list > * {
    margin: 0 0.2em;
}

.custom-btn-list > *:first-child {
    margin-left: 0;
}
.custom-btn-list > *:last-child {
    margin-right: 0;
}

.custom-btn-list > .btn {
    width: 12%;
}

.title-btn {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

.title-btn:hover {
    opacity: 0.6;
}

.title-btn:focus {
    outline: none;
}

#postDeleteConfirmModal .modal-body .modal-title {
    margin-bottom: 0.5em;
}